annotated-types==0.7.0
anyio==4.4.0
atomicwrites==1.4.1
attrs==24.2.0
blinker==1.8.2
certifi==2024.6.2
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.1.1
cycler==0.12.1
dash==2.17.1
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.12.0
dash-table==5.0.0
dash-tools==1.12.0
distlib==0.3.8
distro==1.9.0
docopt==0.6.2
et-xmlfile==1.1.0
exceptiongroup==1.2.1
filelock==3.16.0
Flask==3.0.3
fonttools==4.53.1
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
identify==2.6.0
idna==3.7
importlib_metadata==7.1.0
importlib_resources==6.4.4
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.7
MarkupSafe==2.1.5
matplotlib==3.7.5
nest-asyncio==1.6.0
nodeenv==1.9.1
numpy==1.24.4
openai==1.35.3
openpyxl==3.1.3
packaging==21.3
pandas==2.0.3
pillow==10.4.0
pipreqs==0.4.12
platformdirs==4.3.2
plotly==5.22.0
pluggy==1.5.0
pre-commit==2.16.0
py==1.11.0
pydantic==2.7.4
pydantic_core==2.18.4
pyparsing==3.1.4
pytest==6.2.5
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.2
requests==2.32.3
retrying==1.3.4
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.8
scikit-learn==1.3.2
scipy==1.10.1
six==1.16.0
sniffio==1.3.1
tenacity==8.3.0
termcolor==1.1.0
threadpoolctl==3.5.0
toml==0.10.2
tqdm==4.66.4
typing_extensions==4.12.1
tzdata==2024.1
urllib3==2.2.1
virtualenv==20.26.4
visdcc==0.0.50
Werkzeug==3.0.3
xlrd==2.0.1
yarg==0.1.10
yolk3k==0.9
zipp==3.19.2
